html, body {
	height:100%; 
	overflow:hidden
}

body {
	
}

h1 {
	
}
p {	
	
}

.sample {
	background-color: powderblue;
	color: blue;
	margin: 0 auto;
	text-align: center;
	width:100%;
	height:50vh;
}

.main_wrap {
	background-color: #efefef;
	height:50%;	
	text-align: center;
}

.main_image {
	background-color: red;
	height:100%;
}